<html>
<head>
    <meta charset="UTF-8">
    <title>User Management Challenge</title>
    <meta name="author" content="Gravitational, Inc.">
    <link rel="stylesheet" type="text/css" href="../static/index.css">
</head>

<body>
<h1> title </h1>
<h2 id="data"> </h2>
<script>
let dashboard = {};
const websocket = new WebSocket("ws://localhost:8080/upgrade")

websocket.onopen = function (event) {
console.log("connected to websocket")
}

websocket.onmessage = function(event)
{
console.log(event.data)
document.getElementById("data").innerText = JSON.parse(event.data).Count
}
</script>
</body>
</html>